/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: slategray;
  color: white;
  padding: 15px 0px;
}

header h1{
  color: white;
}

h1, h2, h3, h4, h5, h6{
  color: slategray;
}